header {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

h1 {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

.quiz-container {
  padding: 1rem;
}

.btn-primary {
  padding: 0.7rem 1.5rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  display: block;
  margin: auto;
}
